.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img img {
  height: 100px;
  width: 100px;
}
.img input {
  display: none;
}
.img label {
  background-color: grey;
}
.info {
  font-size: 25px;
  display: flex;
  flex-direction: column;
}
