.button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 2px;
  float: right;
  box-shadow: none;
  font-size: 25px;
}
.button :hover,
.button:active {
  transform: scale(1.1);
  color: green;
  transition-timing-function: linear;
}
