.button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 0;
  float: right;
  box-shadow: none;
  font-size: inherit;
  width: 40px;
  height: 40px;
}
.button :hover,
.button:active {
  transform: scale(1.1);
  color: green;
  transition-timing-function: linear;
}
