.button {
  width: auto;
  background-color: transparent;
  color: black;
  padding: 0;
  border: none;
  float: right;
  box-shadow: none;
  font-size: inherit;
  width: 40px;
  height: 40px;
}
.button :hover,
.button:active {
  color: rgb(210, 49, 49);
  transition-timing-function: linear;
  transition-delay: 0.2s;
  transform: scale(1.1);
}
