.button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 0;
  float: right;
  box-shadow: none;
  font-size: inherit;
  width: 40px;
  height: 40px;
}
.button:hover,
.button:active {
  color: rgb(51, 51, 189);
  transition-timing-function: linear;
  transition-delay: 0.2s;
  transform: scale(1.1);
}
